<header>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5" style="background-color: ghostwhite ">
    <a class="navbar-brand" style="color: #1a1e21" href="index.html"> <img style="width: 90px; height: 90px;" src="../../../assets/images/Logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #1a1e21" routerLink="">Home</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #1a1e21" routerLink="add-blog">Create Post</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #1a1e21" routerLink="posts" >View Post</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: #1a1e21" routerLink="contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>

