<!-- Page Header-->
<div class="container">
<header class="masthead" style="background-color: #dac4c9">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1> Welcome!</h1>
            <span class="subheading"> My name is Aleksandra Anderson. I am a creative Software Developer, with a curious mind. I found my passion for software development while in college, as it allowed me to express my creativity. I am experienced with both front end and back end technologies, which allows me to create responsive and classy web services. Check out the rest of the site for a look into my work. Enjoy! </span>
          </div>
        </div>
      </div>
    </div>
</header>
</div>

<app-resume></app-resume>
