header.masthead {
  position: relative;
  margin-bottom: 10rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 10rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}
