

<div class="container" id="resume-text">
  <h1 style="text-align: center;"> Resume <span ><a href="assets/files/Tech%20Resume2021.docx.pdf" download>
  <div class="arrow">Download</div>
</a></span></h1>
  <h2>Education</h2>
  <h5 style="font-weight: bold">University of Colorado at Colorado Springs
  </h5>
  <p>Bachelor of Science in Computer Science</p>
  <p> <span style="font-weight: bold">Academic Honors:</span> Presidents List Award, Dean's List Award x2, Track and Field Academic All-American</p>
  <br>
  <h2> Experience</h2>
  <h5 style="font-weight: bold"> Peak Vista Technology, March 2021 – Current
   </h5>
  <p>Full Stack Java Developer</p>
  <p>As a java developer with Peak Vista Technology, my responsibilities included servicing both the front-end and back-end. As a team, we distribute the workload to accomplish all of the required tasks for each sprint. These tasks include data visualization, task automation, and front end design.
    In addition to development, I assist with debugging and writing unit / integration level tests to optimize performance. These tests are written to perform more in-depth testing of all possible user scenarios, saving the team time and stress.
  </p>
  <p>During my time with Peak Vista I also worked as the teams Scrum Master. This role came with the responsibility of tracking our progress and ensuring features are being completed on time. During my time as Scrum Master, there was a notable increase in communication. This lead to an increase in productivity. </p>

  <p> <span style="font-weight: bold">Technologies Used:</span></p>
  <p>Java, SQL, Linux, JavaScript, JSF</p>
  <br>
  <h5 style="font-weight: bold">Tek Experts, August 2020 - March 2021</h5>
  <p>Software Support Engineer</p>
  <p>As a support engineer with Tek Experts, I worked with software developers across the world using Azure Cloud Computing.
    Developers presented various problems affecting their applications; trusting my expertise to help resolve the issues in a timely manner.
    I worked to resolve issues related to performance and availability, reading and debugging code (Java, C#/.NET), deployment processes, intermittent downtime, and application configurations.
    Customer service was a major focus of mine. It was important to establish good rapport with the customer, and make sure that their questions always received a thoughtful answer. This often resulted in a satisfied customer and a resolved technical issue.
  </p>
  <p><span style="font-weight: bold">Technologies Used:</span></p>
  <p>Java, .NET, C#, Linux OS, Azure Cloud Computing</p>

</div>
